@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("./fonts/Barlow_Semi_Condensed_500_latin.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("./fonts/Barlow_Semi_Condensed_600_latin.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

/********************************/
/* CUSTOM PROPERTIES */
/********************************/

:root {
  /* Colors */
  --purple-50: hsl(260, 100%, 95%);
  --purple-400: hsl(264, 82%, 70%);
  --purple-500: hsl(263, 55%, 52%);
  --darkblue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --background: hsl(300, 5%, 96%);

  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-300: hsl(215, 10%, 67%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --grey-sh: rgba(72, 85, 106, 0.24);

  /* Spacing */
  --s-2: 0.125rem;
  --s-8: 0.5rem;
  --s-11: 0.688rem;
  --s-13: 0.8125rem;
  --s-16: 1rem;
  --s-17: 1.063rem;
  --s-20: 1.25rem;
  --s-32: 2rem;
  --s-60: 3.75rem;
  --s-73: 4.5625rem;
  --s-83: 5.1875rem;
  --s-113: 7.0625rem;
  --s-163: 10.188rem;
  --s-218: 13.625rem;
  --s-229: 14.3125rem;
  --s-650: 40.625rem;
  --s-752: 47rem;
  --s-1114: 69.625rem;

  /* Fonts */
  --medium: 500;
  --semibold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: var(--medium);
  line-height: 1.1;
  border-radius: 8px;
}

body {
  background: var(--background);
}

main {
  padding-top: var(--s-73);
  margin-bottom: var(--s-73);
}

/********************************/
/* UTILITIES */
/********************************/

/* Text Presets */
/********************************/

.txt-p--1 {
  font-size: var(--s-20);
  font-weight: var(--semibold);
  line-height: 1.2;
}

.txt-p--2 {
  font-size: var(--s-13);
  /* margin-bottom: var(--s-8); testing */
}

.txt-p--3 {
  font-size: var(--s-13);
  line-height: 1.4;
}

.txt-p--4 {
  font-size: var(--s-11);
}

/* Spacing */
/********************************/

.mg-b--16 {
  margin-bottom: var(--s-16);
}

/* Colors */
/********************************/

.grey--100 {
  color: var(--grey-100);
}

.grey--200 {
  color: var(--grey-200);
}

.grey--300 {
  color: var(--grey-300);
}

.grey--400 {
  color: var(--grey-400);
}

.grey--500 {
  color: var(--grey-500);
}

.purple--50 {
  color: var(--purple-50);
}

/* Cards' Colors */
/********************************/

.purple {
  background: var(--purple-500);
}

.grey {
  background: var(--grey-500);
}

.white-short {
  background: var(--white);
}

.darkblue {
  background: var(--darkblue);
}

.white-long {
  background: var(--white);
}

/* Layout */
/********************************/

.z-index--1 {
  z-index: 1;
}

.border {
  border: var(--s-2) solid var(--purple-400);
}

/********************************/
/* ELEMENTS */
/********************************/

.container {
  display: grid;
  grid-template-columns: 1fr;
  width: clamp(var(--s-163), 81.334%, var(--s-752));
  margin: 0 auto var(--s-73) auto;
  gap: var(--s-32);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--s-32);
  box-shadow: 40px 70px 54px -10px var(--grey-sh);
  position: relative;
}

.card-author {
  display: flex;
  width: 100%;
  margin-bottom: var(--s-16);
}

.avatar {
  margin-right: var(--s-17);
  border-radius: 50%;
}

.card-author-text {
  grid-area: 1 / 2 / 3 / 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quote {
  display: none;
}

/********************************/
/* MEDIA QUERIES */
/********************************/

/* Above 752px */
@media (min-width: 47rem) {
  main {
    padding-top: var(--s-83);
    margin-bottom: 0;
  }

  .container {
    width: clamp(var(--s-163), 84.245%, var(--s-1114));
    grid-template-columns: 1fr 1fr;
    margin-bottom: var(--s-113);
  }

  .purple,
  .darkblue,
  .white-long {
    grid-column: 1/3;
  }
}

/* Above 1280px */
@media (min-width: 80rem) {
  main {
    padding-top: var(--s-229);
  }

  .container {
    margin-bottom: var(--s-218);
    grid-template-columns: repeat(4, 1fr);
  }

  .quote {
    display: inline-block;
    position: absolute;
    z-index: 0;
    top: 0px;
    right: 60px;
  }

  .purple {
    grid-area: 1 / 1 / 2 / 3;
  }

  .grey {
    grid-area: 1 / 3 / 2 / 4;
  }

  .white-long {
    grid-area: 1 / 4 / 3 / 5;
  }

  .white-short {
    grid-area: 2 / 1 / 3 / 2;
  }

  .darkblue {
    grid-area: 2 / 2 / 3 / 4;
  }
}
